/*Обнуление*/
*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}
/*--------------------*/

body{
	background-color: #e8e8e8;
	font-family: Roboto Mono, "Helvetica Neue", Helvetica, sans-serif;  
}

a {
	color: #80b7b3;
}

h2{
	text-align: center;
	padding: 35px;
}

/*------------------
hr {
	margin: 10px;
    border: none;
    height: 2px;
    background-image: linear-gradient(to right, #e8e8e8, #80b7b3, #e8e8e8);
}
--*/

form {
	display: flex;
	flex-flow: column wrap;
	justify-content: center;
	align-items: center;
	width:850px;
}

.content {
	padding: 0 0 135px 0;
	max-width: 850px;
	margin: 0px auto;
}

.content-header{
	position: relative;
	text-align: left;
	margin: 0px 0px 0px 0px;
	padding: 20px 0px 80px 0;
}

.header-row{
	display: flex;
	justify-content:center;
	align-content:center;
	flex-wrap: nowrap;
	max-width: 500px;
	height: 120px;
	margin: 25px;
}

.header_links{
	display: flex;
	justify-content:center;
}

.header_links_item{
	display: flex;
	justify-content: center;
	align-items: center;
	width:130px;
}

.header_links_item:nth-child(1) img {
	animation: header_links_in 0.3s ease-in-out 1 alternate 1.3s none;
}

.header_links_item:nth-child(2) img {
	animation: header_links_in 0.3s ease-in-out 1 alternate 1.4s none;
}

.header_links_item:nth-child(3) img {
	animation: header_links_in 0.3s ease-in-out 1 alternate 1.5s none;
}

.header_links_item:nth-child(4) img {
	animation: header_links_in 0.3s ease-in-out 1 alternate 1.6s none;
}

@keyframes header_links_in{
	0% {
		width: 100px;
	}
	50%{
		width: 120px;
	}
	100%{
		width: 100px;
	}
}

.header_links_item img{
	width: 100px;
	opacity: 50%;
	transition-duration: 0.3s;
}

.header_links_item img:hover{
	width: 120px;
	opacity: 100%;
}

.content-up {
	text-align: center;
}

.content-up-title {
	opacity: 0.6;
	color: #273d46;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 24px;
	text-transform: uppercase;
	letter-spacing: 2.8px;
	padding: 20px;
}

.content-up-text {
	color: #273d46;
	font-size: 26px;
	line-height: 50px;
	padding: 25px 0px 35px 0px;
}

.content-main, .content-result {
	color: #273d46;
	font-size: 20px;
}

.content-image {
	padding: 0px 0px 35px 0px;
	text-align: center;
}

.content-image img{
	max-width: 850px;
}

.content-main-text p{
	margin: 10px 0px 20px 10px;
}

.content-main-text p{
	margin: 10px 0px 35px 10px;
}

.content-main-bottom {
	position: relative;
	margin: 0px 0px 0px 0px;
}

.content-main-bottom-image span{
	position: absolute;
	margin: -250px 0px 0px 600px;
	background: url('../img/sanguine-icon.png') right no-repeat;
	padding: 130px 130px 130px 130px;
}

.content-main-links {
	margin: 15px 20px 20px 0px;
}

.content-main-links li{

	margin: 25px 15px 25px 10px;
	background: url('../icons/check-lens.png') left no-repeat;
	-moz-background-size: 4%; /* Firefox 3.6+ */
   	-webkit-background-size: 4%; /* Safari 3.1+ и Chrome 4.0+ */
    -o-background-size: 4%; /* Opera 9.6+ */
    background-size: 4%; /* Современные браузеры */
	padding: 5px 15px 5px 40px;
}

.content-main-links li:hover{
	background: url('../icons/check-lens.png') 0 100% no-repeat;
	font-size: 30px;
	-moz-background-size: 5%; /* Firefox 3.6+ */
   	-webkit-background-size: 5%; /* Safari 3.1+ и Chrome 4.0+ */
    -o-background-size: 5%; /* Opera 9.6+ */
    background-size: 5%; /* Современные браузеры */
    color:#80b7b3;
}

.content-main-links li:nth-child(1):hover~.content-main-bottom-image span{
	background: url('../img/choleric-icon.png') right no-repeat;
    }

.content-main-links li:nth-child(2):hover~.content-main-bottom-image span{
	background: url('../img/phlegmatic-icon.png') right no-repeat;
    }

 .content-main-links li:nth-child(3):hover~.content-main-bottom-image span{
	background: url('../img/melancholic-icon.png') right no-repeat;
    }

 .content-main-links li:nth-child(4):hover~.content-main-bottom-image span{
	background: url('../img/sanguine-icon.png') right no-repeat;
    }

.content-main-button_link, .content-header-button_link{
	display: inline-block;
	padding: 0px 30px;
	height: 44px;
	background-color:#80b7b3;
	border-radius: 20px;
	box-shadow: 0px 5px 1px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0px 5px 1px rgba(0, 0, 0, 0.5);
	height: 44px;
	line-height: 44px;
	color: #fff;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 20px;
	text-transform: uppercase;
	letter-spacing: 2.8px;
	transition-duration: 0.4s;
}

.content-main-button_link span{
	padding: 0px 30px 0px 0px;
	background: url('../icons/arr.svg') right no-repeat;
}

.content-header-button_link span{
	padding: 0px 0px 0px 30px;
	background: url('../icons/arr-back.svg') left no-repeat;
}

.content-main-button_link:hover, .content-header-button_link:hover{
	background-color:#41a0a1;
}

.content-main-button_link:active, .content-header-button_link:active{
	position: relative;
	top: 3px;
	-webkit-box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.5);
	box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.5);
}

.footer {
	top: -23px;
	opacity: 0.6;
	color: #273d46;
	font-size: 14px;
	letter-spacing: 2px;
	padding: 35px 10px 25px 10px;
	max-width: 850px;
	margin: 0px auto;
	text-align: left;
}

.test {
	padding: 15px 0;
	float: center;
}

.test input:last-child{
	margin: 15px 0px 15px 10px;
}

.question {
	margin: 20px 0px 10px 0px;
	
}
.test input[type="text"],
.test input[type="number"] {
	padding: 5px;
	margin-right: 5px;
	border: 1px solid transparent;
	border-radius: 5px;
	outline: none;
}

.content-result {
	display: none; /*for display results tests*/
	text-align: center;
}

 /*---------- Just Do It:
 put in order languages
 create styles for radio's in form with the pictures
 add checker input name
 use distruct in data from test form  
 use Event
 -------------*/