/*Обнуление*/
*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}
/*--------------------*/

body{
	background-color: #e8e8e8;
	font-family: Roboto Mono, "Helvetica Neue", Helvetica, sans-serif;  
}

a {
	color: #80b7b3;
}

h2{
	text-align: center;
	padding: 35px;
}

/*------------------
hr {
	margin: 10px;
    border: none;
    height: 2px;
    background-image: linear-gradient(to right, #e8e8e8, #80b7b3, #e8e8e8);
}
--*/

#langChange {
	display: inline-block;
	right: 0px;
	position: absolute;
	padding: 10px 10px ;
	margin: 20px 0px;
	background-color:#80b7b3;
	transition-duration: 0.4s;
	border-radius: 20px;
	box-shadow: 0px 5px 1px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0px 5px 1px rgba(0, 0, 0, 0.5);
	height: 44px;
	line-height: 44px;
	color: #fff;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 20px;
	text-transform: uppercase;
	letter-spacing: 2.8px;
}

#langChange:hover {
	background-color:#41a0a1;
}

form {
	display: flex;
	flex-flow: column wrap;
	justify-content: center;
	align-items: center;
	max-width:850px;
}

.content {
	padding: 0 0 135px 0;
	max-width: 850px;
	margin: 0px auto;
	position: relative;
}

.content-header{
	position: relative;
	text-align: left;
	padding: 0px 0px 80px 0;
}

.header-row{
	display: flex;
	justify-content:center;
	align-content:center;
	flex-wrap: nowrap;
	max-width: 500px;
	height: 120px;
	margin: 55px 25px 25px 25px;
}

.header_links{
	display: flex;
	justify-content:center;
}

.header_links_item{
	display: flex;
	justify-content: center;
	align-items: center;
	width:130px;
}

.header_links_item:nth-child(1) img {
	animation: header_links_in 0.3s ease-in-out 1 alternate 1.3s none;
}

.header_links_item:nth-child(2) img {
	animation: header_links_in 0.3s ease-in-out 1 alternate 1.4s none;
}

.header_links_item:nth-child(3) img {
	animation: header_links_in 0.3s ease-in-out 1 alternate 1.5s none;
}

.header_links_item:nth-child(4) img {
	animation: header_links_in 0.3s ease-in-out 1 alternate 1.6s none;
}

@keyframes header_links_in{
	0% {
		width: 100px;
	}
	50%{
		width: 120px;
	}
	100%{
		width: 100px;
	}
}

.header_links_item img{
	width: 100px;
	opacity: 50%;
	transition-duration: 0.3s;
}

.header_links_item img:hover{
	width: 120px;
	opacity: 100%;
}

.content-up {
	text-align: center;
}

.content-up-title {
	opacity: 0.6;
	color: #273d46;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 24px;
	text-transform: uppercase;
	letter-spacing: 2.8px;
	padding: 20px;
}

.content-up-text {
	color: #273d46;
	font-size: 26px;
	line-height: 50px;
	padding: 25px 0px 35px 0px;
}

.content-main, .content-result {
	color: #273d46;
	font-size: 20px;
}

.content-image {
	padding: 0px 0px 35px 0px;
	text-align: center;
}

.content-image img{
	max-width: 100%;
}

.content-main-text p{
	margin: 10px 0px 20px 10px;
}

.content-main-text p{
	margin: 10px 0px 35px 10px;
}

.content-main-bottom {
	position: relative;
	margin: 0px 0px 0px 0px;
}

.content-main-bottom-image span{
	position: absolute;
	margin: -250px 0px 0px 600px;
	background: url('../img/sanguine-icon.png') right no-repeat;
	padding: 130px 130px 130px 130px;
}

.content-main-links {
	margin: 15px 20px 20px 0px;
	height: 255px;

}

.content-main-links li{
	height: 65;
	margin: 0px 15px 0px 10px;
	background: url('../icons/check-lens.png') left no-repeat;
	-moz-background-size: 4%; /* Firefox 3.6+ */
   	-webkit-background-size: 4%; /* Safari 3.1+ и Chrome 4.0+ */
    -o-background-size: 4%; /* Opera 9.6+ */
    background-size: 4%; /* Современные браузеры */
	padding: 20px 15px 20px 40px;

}

.content-main-links li:hover{
	top: -20px;
	background: img src="img/check-lens.png" 0 100% no-repeat;
	font-size: 30px;
	-moz-background-size: 5%; /* Firefox 3.6+ */
   	-webkit-background-size: 5%; /* Safari 3.1+ и Chrome 4.0+ */
    -o-background-size: 5%; /* Opera 9.6+ */
    background-size: 5%; /* Современные браузеры */
    color:#80b7b3;
}

.content-main-links li:nth-child(1):hover~.content-main-bottom-image span{
	background: url('../img/choleric-icon.png') right no-repeat;
    }

.content-main-links li:nth-child(2):hover~.content-main-bottom-image span{
	background: url('../img/phlegmatic-icon.png') right no-repeat;
    }

 .content-main-links li:nth-child(3):hover~.content-main-bottom-image span{
	background: url('../img/melancholic-icon.png') right no-repeat;
    }

 .content-main-links li:nth-child(4):hover~.content-main-bottom-image span{
	background: url('../img/sanguine-icon.png') right no-repeat;
    }

.content-main-button_link, .content-header-button_link{
	display: inline-block;
	padding: 0px 30px;
	height: 44px;
	background-color:#80b7b3; 
	border-radius: 20px;
	box-shadow: 0px 5px 1px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0px 5px 1px rgba(0, 0, 0, 0.5);
	height: 44px;
	line-height: 44px;
	color: #fff;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 20px;
	text-transform: uppercase;
	letter-spacing: 2.8px;
	transition-duration: 0.4s;
}

.content-header-button_link{
	margin: 20px 0px 0px 0px;
}

.content-main-button_link span{
	padding: 0px 30px 0px 0px;
	background: url('../icons/arr.svg') right no-repeat;
}

.content-header-button_link span{
	padding: 0px 0px 0px 30px;
	background: url('../icons/arr-back.svg') left no-repeat;
}

.content-main-button_link:hover, .content-header-button_link:hover{
	background-color:#41a0a1;
}

.content-main-button_link:active, .content-header-button_link:active{
	position: relative;
	top: 3px;
	-webkit-box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.5);
	box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.5);
}


.answers-block-grid *,
.answers-block-grid *:after {
    box-sizing: border-box;
}
.answers-block-grid {
	display: inline-grid;
	grid-template-columns: repeat(4, auto);
	grid-area: side;
    box-sizing: border-box;
    grid-gap: 20px;
    margin: 20px auto;
    max-width: 100%;
    padding: 0;
	text-align: center;
}

.answer {
	align-items: center;

    position: relative;
	width: 140px;
	/*border: 2px solid #BFE2FF;
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
*/
}

/*.answer:hover {
    border-color: #337AB7;
    box-shadow: 0 4px 14px rgba(0,0,0,0.2);
}
*/ 

.answer-radio:checked ~ .answer-desc {
	border-color: #2f7172;
}


.answer-desc {
	/*color: #337AB7; padding-right: 52px;
    line-height: 24px;
	
	*/
	display: grid;
	grid-template-rows: 40px auto;
	align-items: center;
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    position: relative;
	width: 140px;
	border: 2px solid #80b7b3;
    
}

.answer-desc:hover {
	border-color: #2f7172;
    box-shadow: 0 4px 14px rgba(0,0,0,0.2);
}

.answer-radio{
	z-index: 1;
    margin: 0;
    position: absolute;
    right: 16px;
    top: 16px;
}

.answer-image{
	position: relative;
	width: 100%;
	height: 100px;
	overflow: hidden;
	box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
	margin: 0px 0px 40px 0px;
	
}

/*.answer-image {
    ;
    position: relative;
    left: -16px;
    margin: 14px 0;
    width: calc(25% + 15px);
    
} */
.answer-image img {
    width: 100%;
    transition: transform 0.5s ease-out;
	object-fit: cover;
	min-height: 100px;
}


.answer-radio:checked {
    border-color: #2f7172;
}

@supports (-webkit-appearance: none) or (-moz-appearance: none) {
    .answer-radio {
		display: inline-block;
		position: relative;;
        -webkit-appearance: none;
        -moz-appearance: none;
        background: #fff;
        border: 3px solid #80b7b3;
        border-radius: 50%;
        cursor: pointer;
        height: 20px;
        width: 20px;   
        outline: none;
        transition: background 0.2s ease-out, border-color 0.2s ease-out;
		top: 175px;
		left: 0px;
    }
    .answer-radio::after {
        border: 3px solid #fff;
        border-top: 0;
        border-left: 0;
        content: '';
        display: block;
        height: 12px;
        left: 5%;
        position: relative;
        top: 80%;
        transform: rotate(45deg) translate(-80%, -80%);
        width: 7px;
    }
    .answer-radio:checked {
        background: #41a0a1;
        border-color: #41a0a1;
    }
     
    .answer:hover .answer-radio {
        border-color: 3px #2f7172;
    }
    .answer:hover .answer-radio:checked {
        border-color: 3px #2f7172;
    }
}

.answer:hover .answer-image img,
.answer-radio:checked {
    transform: scale(1.2);
}

.footer {
	top: -23px;
	opacity: 0.6;
	color: #273d46;
	font-size: 14px;
	letter-spacing: 2px;
	padding: 35px 10px 25px 10px;
	max-width: 850px;
	margin: 0px auto;
	text-align: left;
}

.test {
	padding: 15px 0;
	float: center;
}

.test input:last-child{
	margin: 15px 0px 15px 10px;
}

.question {
	margin: 20px 0px 10px 0px;
	
}
.test input[type="text"],
.test input[type="number"] {
	padding: 5px;
	margin-right: 5px;
	border: 1px solid transparent;
	border-radius: 5px;
	outline: none;
}

.content-result {
	display: none; /*for display results tests*/
	text-align: center;
}

.content-image-mini{
	padding: 0px 0px 35px 0px;
	text-align: center;
	}

.content-image-mini img{
	max-height: 150px;
}

.ENG {
	display: inherit;
}

.RUS {
	display: none;
}

.UKR {
	display: none;
}

 /*---------- Just Do It:
 put in changer languages -
  	1) - Add massive in JS, Replace by innerHTML
	2) - Add span to all texts for change, in JS add cycle for find All spans, => classes display:none.
	* if need change <html lang="en"> => can use outerHTML


 create styles for radio's in form with the pictures ^
 add checker input name
 try use distruct in data from test form  
 try use Event

 -------------*/